<!DOCTYPE html>
<html>

	<head>		
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<style>
		
			@font-face {
				font-family: gesstwo-L;
				src: url(<%=domain%>/assets/fonts/GE-SS-Two-Light.otf);
			}
			@font-face {
				font-family: gesstwo-B;
				src: url(<%=domain%>/assets/fonts/GE_SS_Two_Bold.otf);
			}
			@font-face {
				font-family: gesstwo-M;
				src: url(<%=domain%>/assets/fonts/GE_SS_Two_Medium.otf);
			}
			.mail-width {
				width: 90%;
				max-width: 550px;
				margin-left: auto;
				margin-right: auto;
			} 
			.baset-mail-wrapper .baset-header-logo {
				padding: 20px 0px;
			}
			.baset-mail-wrapper .baset-header-logo .logo-img {
				width: 200px; 
				max-width: 200px;
				text-align: center;
				margin-left: auto;
				margin-right: auto;
			}
			.baset-mail-wrapper .baset-header-logo .logo-img img {
				width: 100%; 
				max-width: 100%;
			}
			.baset-mail-wrapper {
				width: 100%;
				background: white;
				direction: rtl;
				text-align: right;
			}
			.baset-mail-wrapper .baset-mail-content {
				background: #eff6f4;
				padding: 20px 30px;
				box-sizing: border-box;
			}
			.baset-mail-wrapper .baset-mail-content p {
				font-size: 18px;
				color: #4c5d88;
				margin: 10px 0px;
				font-family: gesstwo-L;
			}
			.baset-mail-wrapper .baset-mail-content p.b-first-line {
				font-size: 20px;
			}
			.baset-mail-wrapper .baset-mail-content p.b-first-line span {
				font-family: gesstwo-M;
			}
			.baset-mail-wrapper .baset-mail-content .confirm-email-btn {
				font-size: 16px;
				color: white;
				background: #3ca569;
				font-family: gesstwo-M;
				padding: 12px 40px;
				border: none;
				border-radius: 3px;
				box-shadow: none;
				outline: none;
				cursor: pointer;
				margin: 15px 0px;
				display: inline-block;
				text-decoration: none;
			}
			.baset-email-footer p {
				margin: 7px;
				color: #4c5d88;
				font-size: 14px;
				font-family: gesstwo-L;
			}
			.baset-email-footer .baset-copy-rights {
				display: inline-block;
			}
			.baset-email-footer .follow-baset {
				display: inline-block;
				float: left;
			}
			.baset-email-footer .follow-baset a i {
				color: #3ca569;
				margin-right: 7px;
			}
			.copy-symp {
				font-size: 12px;
			}
		</style>
	
	</head>

	<body>

		<div class="baset-mail-wrapper">
			<div class="baset-header-logo mail-width">
				 <div class="logo-img">
					<img src="<%=domain%>/assets/imgs/baset-logo.svg">
				 </div>
			</div>
			<div class="baset-mail-content mail-width">
				<p class="b-first-line">
					مرحبا بك فى <span>باسط أكاديمي</span> 
					,
				</p>
				<p>
				عزيزى الطالب, يمكنك اعادة تعيين كلمة المرور بالضغط على الرابط التالى
				.
				</p>
				<a class="confirm-email-btn" href="<%= domain %>/resetpassword?<%= params %>" target="_blank">إعادة تعيين كلمة المرور</a>

			</div>
			<div class="baset-email-footer mail-width">
				<div class="baset-copy-rights">
					<p>جميع الحقوق محفوظة لباسط اكاديمى <span class="copy-symp">&#169;<span> 2018</p>
				</div>
				<div class="follow-baset">
					<p>
						<span>تابعنا على</span>
						<a href="https://www.facebook.com/quanode/" target="_blank">
							<img style="margin-left:7px;" width="7" src="<%=domain%>/assets/imgs/fb.png">
						</a>
						<a href="https://twitter.com/quanode?lang=en" target="_blank">
							<img width="14" src="<%=domain%>/assets/imgs/twitter.png">
						</a>
					</p>
				</div>
			</div>
		</div>

	</body>
</html>