<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Baset | Registration</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,700" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style media="screen">
    html,
    body {
      margin: 0;
      padding: 0;
    }

    * {
      box-sizing: border-box;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 300;
    }

    #baset {
      font-weight: 600;
    }

    #parent {
      width: 100%;
      padding: 40px 100px;
      background: #243a55;
      height: 100vh;
    }

    #logo {
      background:url('cid:logo');
      width: 40%;
      height: 150px;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 300px;
      margin-bottom: 30px;
    }

    #account-body {
      background: #fef3ee;
      width: 100%;
      padding: 30px 100px;
      text-align: center;
    }

    #button-sign {
      text-align: center;
      width: 400px;
      margin: 0 auto;
      color: white;
      margin-top: 40px;
      background: transparent;
      border: 2px solid #243a55;
      padding: 15px 20px;
      cursor: pointer;
      font-size: 20px;
      font-weight: 600;
      color: #243a55;
      border-radius: 40px
    }

    #account-text span {
      font-weight: 600;
    }


    .fa.fa-facebook:hover {
      color: #3b5998;
      transition: .5s;
    }

    .fa.fa-git:hover {
      color: #bd2c00;
      transition: .5s;
    }

    .fa.fa-twitter:hover {
      color: #1da1f2;
      transition: .5s;
    }

    .fa.fa-linkedin:hover {
      color: #0077b5;
      transition: .5s;
    }

    .footer-copy {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 20px 0;
    }

    #social-div {
      width: 50%;
      text-align: right;
    }

    #social-div a {
      color: white;
      text-decoration: none;
      font-size: 18px;
      margin-right: 10px;
    }

    /* added for responsive*/

    .feedback-text {
      max-width: 80%;
      margin: 0 auto;
      line-height: 26px;
    }

    .activated-text {
      font-size: 25px;
      font-weight: 400;
      color: #2c3f56;
    }

    @media screen and (max-width:900px) {
      #logo {
        background-size: 200px;
      }
    }

    @media screen and (max-width: 700px) {
      #parent {
        height: 100%;
      }
      #account-body {
        padding: 30px 50px;
      }
      .feedback-text {
        max-width: 100%;
        font-size: 16px;
      }
      .activated-text {
        font-size: 20px;
      }
      .footer-copy {
        width: 100%;
      }
      .footer-copy div {
        width: 100% !important;
        text-align: center !important;
        margin-bottom: 15px;
      }
      .copy-text {
        order: 2;
      }
      #social-div {
        text-align: center;
        width: 100%;
        order: 0;
      }
      #button-sign {
        width: 200px;
        font-size: 14px;
      }
      #logo {
        background-size: 170px;
      }
    }

    @media screen and (max-width: 600px) {
      #logo {
        background-size: 150px;
      }
      #account-body {
        padding: 30px 20px;
      }
      #parent {
        padding: 39px 30px;
      }
    }

    @media screen and (max-width:450px) {
      #parent {
        padding: 39px 10px;
      }
      #account-body {
        font-size: 18px;
        padding: 30px 0px;
      }
      .contact-one,
      .contact-two {
        font-size: 16px;
        margin: 10px 0;
      }
      .feedback-text {
        max-width: 90%;
        font-size: 16px;
        text-align: left;
      }
      .activated-text {
        font-size: 18px;
      }
    }

    @media screen and (max-width:320px) {
      #logo {
        background-size: 150px;
      }
    }

    @media screen and (min-width: 1910px) {
      #parent {
        padding: 40px 550px
      }
    }
  </style>
</head>

<body>
  <div id="parent">
    <div id="logo"></div>
    <div id="account-body">
      <div class="activated-text">Welcome to <span id="baset">Baset academy</span>, Verify your email by clicking the button below</div>
      <div id="button-sign"><a href="<%= domain %>/completeregister?<%= params %>">Verify Email</a></div>
    </div>
    <div class="footer-copy">
      <div class="copy-text" style="font-size:20px; width:50%; text-align: left; color: #bcb8b8;">
        Copyright © 2018, Basetacademy.
      </div>
      <div id="social-div">
        <span style="margin-right:30px; font-size:20px; color:#bcb8b8;">Follow Us</span>
        <a href="https://www.facebook.com/quanode/" target="_blank">
                <i class="fa fa-facebook social"></i>
            </a>
        <a href="https://github.com/quaNode" target="_blank">
                <i class="fa fa-git social"></i>
            </a>
        <a href="https://twitter.com/quanode?lang=en" target="_blank">
                <i class="fa fa-twitter social"></i>
            </a>
        <a href="https://www.linkedin.com/company/quanode" target="_blank">
                <i class="fa fa-linkedin social"></i>
            </a>
      </div>
    </div>
  </div>

</body>

</html>
